*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Basic setup for responsive website */
/*
.container {
    width: 80%;
    margin: 0 auto;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #fff;
}
*/

.container {
    width: 80%;
    margin: 0 auto;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #fff;
}