*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Basic setup for responsive website */
/*
.container {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #fff;
}
*/

.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    border: 2px yellow solid;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #fff;
}

.hero__text {
    width: 50%; /* half the size of the parent */
    border: 1px solid pink;
}