html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
   font-family: 'Hind Vadodara', sans-serif;
   background-image: url('https://cdn.pixabay.com/photo/2016/09/04/20/09/mountains-1645078_960_720.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   z-index: -1;

}

h1 {
   font-size: 3rem;
   font-weight: 700;
   text-transform: capitalize;
   padding-bottom: 1em;
}

p {
   padding-bottom: 3em;
}

a {
   background-color: rgb(20, 127, 214);
   color: rgb(34, 54, 70);
   padding: 1.2em 2em;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 700;
   border-radius: 10px;
}

.hero {
   background-color: rgb(34, 54, 70);
   color: #fff;
   padding: 2em;

}

.hero__content {
   maxwidth: 1100px;
   width: 80%;
   display: flex;
}

.hero_image {
   border: none;
}

img {
   border: none;
   text-decoration: none;
}

.bottom__image {
}



























