* {
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
}

h1 {
   text-transform: capitalize;
   font-size: 2.5rem;
}

.hero {
   background-color: rgb(37, 44, 23);
   color: white;
   padding: 50px;
}

.container {
   width: 80%;
   display: flex;
   margin: 0 auto;
}

.hero-text {
   width: 60%;
   
}

.hero-text p {
   /* margin: 2em 2em 10em 0; */
   padding: 1em 3em 3em 0;
   line-height: 1.7em;
}

a {
   background-color: rgb(193, 230, 125);
   padding: 1.2em;
   color: rgb(37, 44, 23);
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 700;
   border-radius: 100px;
   
}

.image {
   
}

.left-right {
   display: flex;
}

.left h2 {
   color: rgb(37, 44, 23);
   text-transform: capitalize;
}

.right h2 {
   color: rgb(193, 230, 125);
   text-transform: capitalize;
}

.right {
   background-color: rgb(37, 44, 23);
   color: white;
}























