* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.parent {
    background-color: #23424a;
    margin: 0 auto; /* centers the parent on the brower */ 
    padding: 50px;
    width: 80%; /* 80% of the parent */
    /* use % so the element resizes itself when the parent changes size */
}
.child {
    background-color: #237fb4;
    height: 250px;
    width: 75%; /* when you use % on the parent, also use % on the child to avoid overflow */
}












