html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, ::before, ::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.3rem;
}

h1 {
   font-size: 2em;
   text-transform: capitalize;
   font-weight: 700;
   margin-bottom: 1.2em;
}

.container { 
   max-width: 750px;
   width: 80%;
   margin: 0 auto;
}

.row {
   display: flex; /* makes all containers inside it rows */
      /* the default is "flex-direction: row" */
      /* all direct children of class="row" become columns */
}

.hero {
   padding: 100px 0;
   background-color: rgb(0, 26, 43);
   color: #fff;
}

.hero__text {
   width: 60%;
}

.hero p {
   margin-bottom: 3em;
}

.btn {
   display: inline-block;
   text-decoration: none;
   color: white;
   background-color: rgb(0, 75, 124);
   padding: 0.8em 1.2em;
   font-weight:700;
   text-transform: uppercase;
   border-radius: 100px;
}














